    <!-- Header top -->
    <div class="header__top container-fluid">
        <div class="row bg-secondary py-1 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="header-top-left__item d-flex align-items-center h-100">
                    <a href="#" class="header-top-left__link">Giới thiệu</a>
                    <a href="#" class="header-top-left__link">Liên hệ</a>
                    <a href="#" class="header-top-left__link">Trợ giúp</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-end">
                <!-- <div class="header-top-right__item">
                    <a href="" class="header-top-right__link header-top-right__delimiter">Đăng nhập</a>
                    <a href="" class="header-top-right__link">Đăng ký</a>
                </div> -->
                <div class="d-inline-flex dropdown">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle rounded-0 shadow-none" id="userDropDownMenu"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        nghxtrung
                    </button>
                    <div class="dropdown-menu dropdown-menu-end rounded-0" aria-labelledby="userDropDownMenu">
                        <button type="button" class="dropdown-item">Tài khoản của tôi</button>
                        <button type="button" class="dropdown-item">Đơn mua</button>
                        <button type="button" class="dropdown-item">Đăng xuất</button>
                    </div>
                </div>
                <div class="d-inline-flex d-lg-none">
                    <a href="#" class="ms-2 d-flex align-items-center">
                        <i class="fas fa-heart text-dark me-1"></i>
                        <span class="navbar-action-item__quantity text-dark border border-dark rounded-circle d-block">0</span>
                    </a>
                    <a href="#" class="ms-2 d-flex align-items-center">
                        <i class="fas fa-shopping-cart text-dark me-1"></i>
                        <span class="navbar-action-item__quantity text-dark border border-dark rounded-circle d-block">0</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Header mid -->
    <div class="header__mid container-fluid">
        <div class="row bg-light py-3 px-xl-5 d-none d-lg-flex">
            <div class="col-4">
                <a href="#" class="logo">
                    <span class="h1 text-uppercase text-primary bg-dark px-2">Multi</span>
                    <span class="h1 text-uppercase text-dark bg-primary px-2">Shop</span>
                </a>
            </div>
            <div class="col-4">
                <form class="input-group">
                    <input type="text" class="form-control shadow-none rounded-0" placeholder="Tìm kiếm sản phẩm">
                    <button type="button" class="header-search__btn btn shadow-none rounded-0">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <div class="col-4">
                <div class="header-mid__contact text-end">
                    <p>Dịch Vụ Khách Hàng</p>
                    <h5>+84 96 783 1727</h5>
                </div>
            </div>
        </div>
    </div>